<div id="page" style="margin-top: -10px">
    <h1>A propos</h1>
    <br />
    <br />
  <div class="row">
    <div style="text-align: left;font-size: 20px;">
      <p>
        EasyMeal est une application visant à améliorer les habitudes alimentaires des utilisateurs.
        Ce service propose à ses utilisateurs la meilleure alimentation en fonction de ses besoins.
        Il permet notament aux utilisateurs de planifier plusieurs repas sur une ou plusieurs journées tout en ajoutant des parts provenant des différentes grandes familles d'aliments (fruits et légumes, glucides, etc.).
        En fonction des utilisateurs, le service va se baser sur les principes alimentaires de nutrition afin de leur proposer des recettes spécifiques. Ainsi, la planification des repas permettra d'ajuster les quantités d'aliments et par conséquent d'éviter le gaspillage.
        De plus, le service EasyMeal est doté d'un système de génération de liste de courses qui répondra aux attentes d'un foyer mais également aux régimes alimentaires de chaque utilisateur.
      </p>
      <p>
        Les informations concernant l'équipe de développement mais également les diverses technologies utilisées sont disponible sur notre site vitrine : <%= link_to('Site vitrine', 'http://eip.epitech.eu/2015/easymeal/', :target => "_blank") %>
      <p>
    </div>
  </div>
</div>
